.paginationBtns{
    display: flex;
    justify-content: center;
    list-style: none;
}

.paginationBtns a{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    color: black;
}

.paginationBtns a:hover{
    color: #51C6C0;
    background-color: #2A5877;
}

.paginationActive a{
    color: #51C6C0;
    background-color: #2A5877;
}